In [67]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import math

In [8]:
df = pd.read_csv(r'E:\abhishikkdey\python_project\QVI_data.csv')

In [15]:
df.head(5)

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream

In [11]:
df.isnull().sum()

LYLTY_CARD_NBR      0
DATE                0
STORE_NBR           0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
PACK_SIZE           0
BRAND               0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [14]:
df.dtypes

LYLTY_CARD_NBR               int64
DATE                datetime64[ns]
STORE_NBR                    int64
TXN_ID                       int64
PROD_NBR                     int64
PROD_NAME                   object
PROD_QTY                     int64
TOT_SALES                  float64
PACK_SIZE                    int64
BRAND                       object
LIFESTAGE                   object
PREMIUM_CUSTOMER            object
dtype: object

In [13]:
#change the type of data column
df['DATE'] = pd.to_datetime(df['DATE'])

In [18]:
#adding a new column of Month extracted from date
df['month'] = df['DATE'].dt.strftime('%B')

In [23]:
df.head(3)

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,month
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium,October
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream,September
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget,March

In [32]:
#total number of store
df['STORE_NBR'].nunique()

272

In [47]:
# PROD_QTY sold in store
pro_qty_sold_by_store= df.groupby('STORE_NBR')['PROD_QTY'].sum()
filtered_pro_qty = pro_qty_sold_by_store[pro_qty_sold_by_store.index.isin([77, 86, 88])]

print(filtered_pro_qty)

STORE_NBR
77     872
86    3066
88    3718
Name: PROD_QTY, dtype: int64

In [50]:
# total sales in store number 77, 86, 88
total_sales_overstore = df.groupby('STORE_NBR')['TOT_SALES'].sum()
total_sales_overstore = total_sales_overstore[total_sales_overstore.index.isin([77,86,88])]
print(total_sales_overstore)

STORE_NBR
77     3040.00
86    10635.35
88    16333.25
Name: TOT_SALES, dtype: float64

In [69]:
df.head(5)

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,month
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium,October
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream,September
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget,March
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget,March
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream,November

In [57]:
#total number of customer in store 77,86,88
total_customer = df.groupby('STORE_NBR')['LYLTY_CARD_NBR'].nunique()
filter_Tot_cust = total_customer[total_customer.index.isin([77,86,88])]
print(filter_Tot_cust)

STORE_NBR
77    356
86    273
88    388
Name: LYLTY_CARD_NBR, dtype: int64

In [68]:
#transactin made by each customer
transacton_by_cust= df.groupby(['LYLTY_CARD_NBR'])['TXN_ID'].nunique()
avg_tran_per_cust= math.ceil(transacton_by_cust.mean())

print(avg_tran_per_cust)

4

In [76]:
#total sale by LIFESTAGE
total_sale_lifestage = df.groupby(['LIFESTAGE'])['TOT_SALES'].sum().sort_values(ascending=False)
print(total_sale_lifestage)

LIFESTAGE
OLDER SINGLES/COUPLES     402426.75
RETIREES                  366470.90
OLDER FAMILIES            352467.20
YOUNG FAMILIES            316160.10
YOUNG SINGLES/COUPLES     260405.30
MIDAGE SINGLES/COUPLES    184751.30
NEW FAMILIES               50433.45
Name: TOT_SALES, dtype: float64

In [ ]:
#total